@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

:root {
    --cor1: #000000;
    --cor2: #808080;
    --cor3: #B79E80;
    --cor4: #EEE4BF;
    --cor5: #FFFFFF;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
}
header {
    display: flex;
    justify-content: end;
    padding: 20px;
}
span {
    position: fixed;
    z-index: 100;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}
.capa1 {
    background-color: #B79E80;
    height: 50vh;
    width: 100%;
    transform: translateY(-40px);
}
.capa2 {
    background-color: #808080;
    height: 50vh;
    width: 90%;
    transform: translateY(-75px);
}